fastapi
uvicorn
jinja2
python-multipart
pandas
openpyxl
mysql-connector-python
pdf2image
pillow
passlib[bcrypt]
python-dotenv

# Session support
itsdangerous

# OpenCV (SERVER SAFE)
opencv-python-headless

# OCR
pytesseract
